						<div class="row footer" role="contentinfo">
							<div class="twelve columns">
								<div class="footer-wrapper">
									<div class="row">
										<div class="six columns">
											<h3>
												Follow us!</h3>
											<div id="social-links">
												<span class="social-link-wrap">
													<a class="social-link icon-facebook" title="Click here to visit the Europeana Facebook page" href="http://www.facebook.com/Europeana" target="blank" rel="me">
														<span class="text">
															Facebook</span>
													</a>
												</span>
												<span class="social-link-wrap">
													<a class="social-link icon-twitter" title="Click here to visit the Europeana Twitter page" href="http://www.twitter.com/EuropeanaEU" target="blank" rel="me">
														<span class="text">
															Twitter</span>
													</a>
												</span>
												<span class="social-link-wrap">
													<a class="social-link icon-pinterest-2" title="Click here to visit the Europeana Pinterest page" href="http://pinterest.com/europeana/" target="blank" rel="me">
														<span class="text">
															Pinterest</span>
													</a>
												</span>
												<span class="social-link-wrap">
													<a class="social-link icon-google" title="Click here to visit the Europeana Google+ page" href="https://plus.google.com/u/0/115619270851872228337" target="blank">
														<span class="text">
															Google +</span>
													</a>
												</span>
												<span class="stretch">
												</span>
											</div>

										</div>

										<div id="newsletter-wrapper" class="six columns">
											<script type="text/javascript">

												window.newsletter = {
												"iframeUrl"		:  "http://www.europeana.eu/portal/newsletter.html"
												};
											</script>
											<h3>
												Newsletter sign-up</h3>
											<span class="small">
												Sign-up to receive our monthly newsletter, and occasional announcements.</span>
											<button id="newsletter-trigger" class="deans-button-1 europeana-button-1" title="Sign-up to receive our monthly newsletter, and occasional announcements.">
												Sign-up here</button>
										</div>

									</div>

									<div class="row" id="footer-links-all">
										<div class="four columns">
											<h3>
												Other Europeana Sites</h3>
											<ul class="footer-links with-icons">
												<li>
													<span class="icon-logo" id="link-logo-1">
													</span>
													<a class="europeana" href="http://exhibitions.europeana.eu" target="_self" title="Europeana Exhibitions">
														Exhibitions</a>
												</li>
												<li>
													<span class="icon-logo" id="link-logo-2">
													</span>
													<a class="europeana" href="http://blog.europeana.eu" target="_self" title="Europeana Blog">
														Blog</a>
												</li>
												<li>
													<span class="icon-logo" id="link-logo-3">
													</span>
													<a class="europeana" href="http://www.europeana1914-1918.eu" target="_self" title="Europeana 1914-1918">
														1914-1918</a>
												</li>
												<li>
													<span class="icon-logo" id="link-logo-4">
													</span>
													<a class="europeana" href="http://remix.europeana.eu/" target="_self" title="Europeana Remix">
														Remix</a>
												</li>
												<li>
													<span class="icon-logo" id="link-logo-5">
													</span>
													<a class="europeana" href="http://pro.europeana.eu/" target="_self" title="Europeana Professional">
														Professional</a>
												</li>
											</ul>
										</div>

										<div class="four columns">
											<h3>
												<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana.html" target="_self" title="Help">
													Help</a>
											</h3>
											<ul class="footer-links">
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana_search.html" target="_self" title="Searching Europeana">
														Searching Europeana</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana_explore.html" target="_self" title="Exploring Europeana">
														Exploring Europeana</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana_results.html" target="_self" title="Results in Europeana">
														Results in Europeana</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana_myeuropeana.html" target="_self" title="Using My Europeana">
														Using My Europeana</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/usingeuropeana_searchwidget.html" target="_self" title="Configure your search widget">
														Configure your search widget</a>
												</li>
											</ul>
										</div>

										<div class="four columns">
											<h3>
												<a class="europeana" href="http://www.europeana.eu/portal/aboutus.html" target="_self" title="About us">
													About us</a>
											</h3>
											<ul class="footer-links">
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/newcontent.html" target="_self" title="New content">
														New content</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/europeana-providers.html" target="_self" title="All providers">
														All providers</a>
												</li>
												<li>
													<a class="europeana" href="http://www.europeana.eu/portal/aboutus_enews.html" target="_self" title="Previous newsletters">
														Previous newsletters</a>
												</li>
												<li>
													<a class="europeana" href="http://pro.europeana.eu/web/guest/news" target="_self" title="Press Centre">
														Press Centre</a>
												</li>
												<li>
													<a class="europeana" href="http://www.pro.europeana.eu/jobs" target="_self" title="Jobs">
														Jobs</a>
												</li>
											</ul>
										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="row footer-bottom-links">
							<div class="twelve columns">
								<a class="europeana footer-bottom-link" href="http://www.europeana.eu/portal/api-introduction.html" target="_self" title="Europeana APIs">
									Europeana APIs</a>
								<a class="europeana footer-bottom-link" href="http://www.europeana.eu/portal/rights/terms-and-policies.html" target="_self" title="Terms of use &amp; Policies">
									Terms of use &amp; Policies</a>
								<a class="europeana footer-bottom-link" href="http://www.europeana.eu/portal/contact.html" target="_self" title="Contact us">
									Contact us</a>
								<a class="europeana footer-bottom-link" href="http://www.europeana.eu/portal/sitemap.html" target="_self" title="Sitemap">
									Sitemap</a>
								<span class="footer-funded-by">
									co-funded by the European Union<span class="icon-euflag">
									</span>
								</span>
							</div>

						</div>

						<noscript>
							<div id="noscript-msg">
								To make optimal use of this website you need to have JavaScript activated. <a href="http://www.google.com/adsense/support/bin/answer.py?hl=en&amp;answer=12654" target="_blank">
									Find out more ...</a>
							</div>

						</noscript>
						<script type="text/javascript">


							window.eu = { europeana : { vars : { msg : { cite:{} }, item : {}, suppresResize: false } } };
							window.js = {
							min_suffix      : '',
							min_directory   : '',
							cache_helper	: '',
							empty_console	: {
							log		: function() {},
							error	: function() {},
							info	: function() {}
							}
							};

							if ( !window.console ) { window.console = js.empty_console; }
							js.console = js.empty_console;



							js.debug = false;
							js.min_suffix = '.min';
							js.min_directory = 'min/';


							eu.europeana.vars.page_name = 'search.html';
							eu.europeana.vars.branding  = 'http://www.europeana.eu/portal/themes/default';
							eu.europeana.vars.homeUrl   = 'http://www.europeana.eu/portal/';
							eu.europeana.vars.homeUrlNS = 'http://www.europeana.eu/portal';
							/*
							if(eu.europeana.vars.page_name == 'widget/editor.html'){
							eu.europeana.vars.branding = '../http://www.europeana.eu/portal/themes/default';
							}
							else{
							}
							*/

							eu.europeana.vars.browser_locale = '';
							eu.europeana.vars.gaId = 'UA-12776629-1';
							eu.europeana.vars.locale = 'en';
							eu.europeana.vars.msg.search_error = 'Please try another search';
							eu.europeana.vars.addthis_pubid = 'xa-4b4f08de468caf36';
							eu.europeana.vars.query = 'mozart';


							eu.europeana.vars.msg.required = 'This is a required field';
							eu.europeana.vars.msg.close = 'Close';
							eu.europeana.vars.msg.search_saved = 'Search saved';
							eu.europeana.vars.msg.search_save_failed = 'Saving search failed';
							eu.europeana.vars.msg.result_count = 14718;
							eu.europeana.vars.msg.start = 1;


							eu.europeana.vars.rows      = '24';

							// for share-this
							var switchTo5x = true;
							if ( window.stLight ) { stLight.options({publisher : ''}); }
						</script>
						<script src="http://www.europeana.eu/portal/themes/default/js/eu/europeana/bootstrap/min/bootstrap.min.js">
						</script>
					</div>

					<div class="overlaid-content">
						<div class="iframe-wrap">
						</div>

					</div>

					<p id="browser-language-query">
						It looks like your browser is set to&nbsp;language__t; Would you also like to use Europeana in&nbsp;language__t? <a href="#yes" class="browser-language-change">
							yes</a>
						/ <a href="#no" class="browser-language-change">
							no</a>
						<br/>
						&nbsp;<a href="#yes" class="browser-language-change">
						</a>
						/ <a href="#no" class="browser-language-change">
						</a>
					</p>
				</body>
			</html>
			